h1 {
    color:white;
    font-family: Verdana;
    font-weight: normal;
    text-align: center;
}

h2{
    color:white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p {
    color:grey;
    font-family: Verdana;
    font-weight: normal;
    text-align: center;
    font-size: 21px;
}

.hyperlink {
    color: aquamarine;
    font-size: 16px;
}

.homepage (
    background-color: black
)


img[src*='camp']{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img[src*='phone']{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer{
    color:grey;
    font-family: Verdana;
    text-align: right;
}